@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);






#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  font-family: 'Montserrat', sans-serif;
  color: #8f99af;
  text-align: center;
}
#content1-4 P {
  font-family: 'Roboto', sans-serif;
}
#content1-4 H4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#content1-4 LI {
  text-align: center;
}
#form1-3 .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#contacts1-5 DIV {
  font-family: 'Oswald', sans-serif;
}
#contacts1-5 P {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
